# Logs
*.log

# Coverage
/.coveralls.yml
coverage

# Dependency directory
node_modules

# JetBrains
.idea/*

# VIM
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
*~
*.swp

# Temp directory
tmp

src/authz.js
src/test.js
test/benchmark.js
test/lib/abac-authz.js
