# Coverage
/.coveralls.yml
coverage

# Dependency directory
node_modules

# JetBrains
.idea

# VIM
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
*~
*.swp

# Temp directory
tmp

test/lib/benchmark.js
